
<h3>Barcode Scanner</h3>

<div>
    <button class="scan-btn" (click)="scanNow()">Scan now</button>
<div>


<select [(ngModel)]="selectedDeviceId" (change)="onDeviceChange(selectedDeviceId)">
  <option *ngFor="let device of devices" [value]="device.deviceId">
    {{ device.label || 'Camera ' + device.deviceId }}
  </option>
</select>


<br><br>

<!-- <video #videoElement autoplay></video> -->
<video #videoElement id="video" width="320" height="240" autoplay playsinline></video>


<h4>Scanned Codes ({{ scannedCodes.length }}):</h4>
<ul>
  <li *ngFor="let code of scannedCodes">{{ code }}</li>
</ul>







