<!-- <div class="scanner-container">
  <h3>Barcode Scanner Prototype</h3>

  <div class="controls">
    <label *ngIf="devices.length > 0">Camera:
      <select [value]="selectedDeviceId" (change)="onDeviceChange($event.target.value)">
        <option *ngFor="let d of devices" [value]="d.deviceId">{{ d.label || ('Camera ' + (devices.indexOf(d)+1)) }}</option>
      </select>
    </label>

    <label>
      <input type="checkbox" [(ngModel)]="continuous" /> Continuous
    </label>

    <button (click)="startScanner()" [disabled]="scanning || !selectedDeviceId">Start</button>
    <button (click)="stopScanner()" [disabled]="!scanning">Stop</button>
    <button (click)="clearList()">Clear list</button>
    <button (click)="downloadJson()" [disabled]="scanned.size === 0">Download JSON</button>
  </div>

  <div class="video-wrapper">
    <video #videoElem autoplay muted playsinline></video>
    <div class="overlay" *ngIf="!supported || errorMessage">
      <div class="error">{{ errorMessage || 'Not supported' }}</div>
    </div>
  </div>

  <div class="scanned-list">
    <h4>Scanned codes ({{ scanned.size }})</h4>
    <table *ngIf="scanned.size > 0">
      <thead>
        <tr><th>#</th><th>Code</th><th>Format</th><th>Last scanned</th><th>Count</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of scanned | keyvalue">
          <td>{{ (scanned | keyvalue).indexOf(item) + 1 }}</td>
          <td>{{ item.value.code }}</td>
          <td>{{ item.value.format || '-' }}</td>
          <td>{{ item.value.time }}</td>
          <td>{{ item.value.count }}</td>
        </tr>
      </tbody>
    </table>

    <div *ngIf="scanned.size == 0" class="empty">No codes scanned yet</div>
  </div>
</div>





 -->

 <!-- <h3>Barcode Scanner</h3>

<select
  [value]="selectedDeviceId"
  (change)="onDeviceChange(($event.target as HTMLSelectElement).value)"
>
  <option *ngFor="let device of devices" [value]="device.deviceId">
    {{ device.label || 'Camera' }}
  </option>
</select>

<br><br>

<video id="videoElement" width="400" height="300" autoplay></video>

<h4>Scanned Codes:</h4>
<ul>
  <li *ngFor="let code of scannedCodes">{{ code }}</li>
</ul> -->





<!-- <h3>Barcode Scanner</h3>

<select
  [value]="selectedDeviceId"
  (change)="onDeviceChange(($any($event.target)).value)"
>
  <option *ngFor="let device of devices" [value]="device.deviceId">
    {{ device.label || 'Camera' }}
  </option>
</select>

<br><br>

<video id="videoElement" autoplay width="400" height="300"></video>

<h4>Scanned Codes:</h4>
<ul>
  <li *ngFor="let code of scannedCodes">{{ code }}</li>
</ul> -->


<h3>Barcode Scanner</h3>

<!-- <select
  [value]="selectedDeviceId"
  (change)="onDeviceChange($event.target.value)"

>
  <option *ngFor="let device of devices" [value]="device.deviceId">
    {{ device.label || 'Camera ' + (devices.indexOf(device) + 1) }}
  </option>
</select> -->
<select [(ngModel)]="selectedDeviceId" (change)="onDeviceChange(selectedDeviceId)">
  <option *ngFor="let device of devices" [value]="device.deviceId">
    {{ device.label || 'Camera ' + device.deviceId }}
  </option>
</select>


<br><br>

<!-- <video #videoElement autoplay></video> -->
<video #videoElement width="320" height="240" autoplay playsinline></video>


<h4>Scanned Codes ({{ scannedCodes.length }}):</h4>
<ul>
  <li *ngFor="let code of scannedCodes">{{ code }}</li>
</ul>







